<section class ="contact">
    <div class="container">
        <div class="row">
            <div class="hidden-xs col-sm-3">
                <h3>
                    JPH Group
                </h3>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div class="contact-content">
                    <strong class="contact-title">Address</strong>
                    <p>
                        Level 6, 60 Albert Road <br/>
                        South Melbourne, Vic, 3205
                    </p>
                </div>

                <div class="contact-content">
                    <strong class="contact-title">Postal</strong>
                    <p>
                        JPH Group <br/>
                        Locked Bag 400 <br/>
                        Albert Park, VIC 3206 <br/>
                    </p>
                </div>
                <div class="contact-content">
                    <strong class="contact-title">Hours</strong>
                    <p>Our office hours are by appointment only, <br/>
                        Monday to Friday 9am-6pm AEST</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 ">
                <div class="contact-content">
                    <strong class="contact-title">Contact</strong>
                    <p>
                        p  <a href="tel:+613-9686-1100"></a>+613  9686 1100 <br/>
                        f   +613  9645 5066 <br/>
                        e  <a href="mailto:blakeh@jphgroup.com.au">blakeh@jphgroup.com.au</a>
                    </p>
                </div>
                <div class="contact-content">
                    <strong class="contact-title">Consultants</strong>
                    <div class="clearfix">
                        <p class="contact-Consultants">Paul Hedley</p>
                        <a href="mailto:mailto:paulh@jphgroup.com.au">paulh@jphgroup.com.au</a>
                    </div>
                    <div class="clearfix">
                        <p class="contact-Consultants">John Hedley</p>
                        <a href="mailto:johnh@jphgroup.com.au">johnh@jphgroup.com.au</a>
                    </div>
                    <div class="clearfix">
                        <p class="contact-Consultants">Paul DeHavilland</p>
                        <a href="mailto:pauld@jphgroup.com.au">pauld@jphgroup.com.au</a>
                    </div>
                    <div class="clearfix">
                        <p class="contact-Consultants">Brendan Millett</p>
                        <a href="mailto:brendanm@jphgroup.com.au">brendanm@jphgroup.com.au</a>
                    </div>
                    <div class="clearfix">
                        <p class="contact-Consultants">Nick Perrett</p>
                        <a href="mailto:nickp@jphgroup.com.au">nickp@jphgroup.com.au</a>
                    </div>
                    <div class="clearfix">
                        <p class="contact-Consultants">Blake Hedley</p>
                        <a href="mailto:blakeh@jphgroup.com.au">blakeh@jphgroup.com.au</a>
                    </div>
              </div>

            </div>
        </div>
    </div>
</section>


<!--<p>-->
    <!--Paul Hedley <a href="mailto:mailto:paulh@jphgroup.com.au">paulh@jphgroup.com.au</a>-->
<!--</p>-->

<!--<p>-->
    <!--John Hedley<a href="mailto:johnh@jphgroup.com.au">johnh@jphgroup.com.au</a>-->
<!--</p>-->

<!--<p>-->
    <!--Paul DeHavilland<a href="mailto:pauld@jphgroup.com.au">pauld@jphgroup.com.au</a>-->
<!--</p>-->

<!--<p>-->
    <!--Brendan Millett<a href="mailto:brendanm@jphgroup.com.au">brendanm@jphgroup.com.au</a>-->
<!--</p>-->

<!--<p>-->
    <!--Nick Perrett<a href="mailto:nickp@jphgroup.com.au">nickp@jphgroup.com.au</a>-->
<!--</p>-->

<!--<p>-->
    <!--Blake Hedley<a href="mailto:blakeh@jphgroup.com.au">blakeh@jphgroup.com.au</a>-->
<!--</p>-->









