<footer class="footer container center">
    <h3 class="footer-text">
        20 years experience. <br/>
        More than just accounting <br/>
        and taxation solutions.
    </h3>
    <p class="footer-copyright">
        © jph group
    </p>
</footer>