<header id="header">
    <div class="container">
        <div class="row">
            <h1 class="col-xs-12 col-sm-6">
                <img src="" alt="logo"/>
            </h1>
        </div>
        <div class="row">
            <p class="col-xs-12 col-sm-offset-3 col-sm-6">
                Complete financial solutions for all stages of your life.
            </p>
        </div>
        <a class="btn btn-default" href="#" role="button">Contact Us</a>
        <p>Our Services</p>
        <a href="#services"><img src="" alt=""/></a>
    </div><!-- /.container -->
</header>