<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-push-6 center-block services-text">
                    <h3>taxation & accounting</h3>
                    <p>
                        JPH Group offers a full range of taxation, accounting and business advisory services specialising in pharmacy. Whether you need help with your year end tax planning, advice on structuring, business sales or acquisitions or just your regular compliance work we will be there to work with you to achieve your goals. Our bookkeeping service can range from the preparation of monthly accounts for compliance purposes, to full accounts, bill management and human resource services.
                    </p>
                    <a href="#" class="download-block hidden-xs">
                        <span class="download-icon"></span>
                        Download privacy policy
                    </a>
            </div>
            <div style="background-image:url(assets/images/services1.jpg)" class="col-xs-12 col-sm-6 col-sm-pull-6 services-bcg  center-block">
            </div>
        </div><!-- /.row -->
        <div class="row">
            <div class="col-xs-12 col-sm-6 services-text  center-block">
                <h3>Finance</h3>
                <p>
                    Unlike most normal mortgage brokers, our mortgage brokerage services combine the benefits of our accounting and taxation knowledge with a full range of over 30 loan providers and products, to best advise our clients about structuring their loan in the most tax effective way.
                    Not only do we have the ability to save the clients time by comparing hundreds of loan products available, by assessing the clients overall financial needs and providing expert taxation advice, the client can potentially save thousands in tax at a later stage while enjoying greater flexibility in their loan.
                </p>
            </div>
            <div style="background-image:url(assets/images/services2.jpg)" class="col-xs-12 col-sm-6 services-bcg  center-block">
            </div>
        </div><!-- /.row -->
        <div class="row">
            <div style="background-image:url(assets/images/services3.jpg)" class="hidden-xs col-xs-12 col-sm-6 services-bcg  center-block">
            </div>
            <div class="col-xs-12 col-sm-6 services-text  center-block">
                <h3>Planning</h3>
                <p>
                    Personal Protection: We will assist you in reviewing your personal situation in regards to the protection of your income and family lifestyle from death, disablement and illness in a cost effective manner.
                    Superannuation: In an ever changing legislative environment, we can help you with your present superannuation holdings and plan your investment strategy and future contributions to maximise your benefits upon retirement.
                    Retirement Planning: We offer advice to help guide you and your investments from the working phase of your life to your retirement.
                </p>
                <a href="#" class="download-block">
                        <span class="download-icon"></span>
                        Download privacy policy
                </a>
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->

</section>