#footer {
  background: url("../assets/images/footer.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  font-family: $font-family-base;
}