.map {
  padding: 0;
  .container-fluid {
    padding-right: 0;
    padding-left: 0;
  }
  #map-canvas {
    width: 100%;
    height: $element-height-xs;
  }

  @media (min-width: $screen-sm) {
    #map-canvas {
      height: $element-height-sm;
    }
  }

  @media (min-width: $screen-md) {
    #map-canvas {
      height: $element-height-md;
    }
  }

  @media (min-width: $screen-lg) {
    #map-canvas {
      height: $element-height-lg;
    }
  }
}
